body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

#video-iframe {
  width: 560px;
  height: 315px;
  border: none;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

#get-api-button {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px 20px;
  background-color: #b40d0d;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#resumo-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#api-data {
  position: relative;
  display: none;
  margin-top: 20px;
  padding: 20px;
  background-color: #9adefd;
  border-radius: 5px;
  max-width: 60%;
  word-wrap: break-word; /* Adiciona esta propriedade */
}

#resumo-div {
  position: relative;
  display: none;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffeb3b;
  border-radius: 5px;
  max-width: 60%;
}

/* Estilo para o contêiner dos botões de idioma */
#idioma-buttons-container {
  background-color: #000; /* Cor de fundo preto */
  display: flex; /* Exibe os botões em uma linha */
  justify-content: center; /* Centraliza os botões horizontalmente */
  padding: 10px; /* Espaçamento interno para os botões */
}

/* Estilo para os botões de idioma */
button.resumo-idioma {
  background-color: #000; /* Cor de fundo preto */
  border: none;
  padding: 10px; /* Espaçamento interno para os botões */
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Estilo para os ícones de bandeira */
button.resumo-idioma img {
  width: 24px; /* Ajuste o tamanho do ícone conforme necessário */
  height: 24px; /* Ajuste o tamanho do ícone conforme necessário */
  margin-right: 8px; /* Espaço entre o ícone e o texto */
}

/* Estilo para o texto do botão de idioma */
button.resumo-idioma span {
  font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
  color: #fff; /* Cor do texto (branco) */
}

#resumo-text {
  margin-top: 10px;
}

/* Estilos para o ícone do VLibras */
.vlibras-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Estilos para o ícone de exportação PDF */
#export-pdf {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

/* Estilos quando o mouse passa sobre o botão */
#export-pdf:hover {
  background-color: #0056b3;
}

/* Estilos para o ícone dentro do botão */
#export-pdf img {
  margin-left: 5px;
}

p img {
  vertical-align: middle;
  margin-left: 5px;
}

#height-400 {
  height: 400px;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  h3 {
    font-size: 20px;
  }

  #video-iframe {
    max-width: 100%;
    width: auto;
    height: auto;
    border: none;
  }

  #resumo-button {
    margin-top: 10px;
  }

  #get-api-button {
    margin-top: 10px;
  }

  #resumo-div {
    margin-top: 10px;
    max-width: 90%;
  }

  #api-data{
    margin-top: 10px;
    max-width: 90%;
  }
}
